// colors
$nav-color: hsl(0,0%,100%);
$side-nav-bg-start: hsl(351, 78%, 34%);
$side-nav-bg-end: hsl(271, 49%, 25%);
$hero-btn-bg-1: hsl(340, 91%, 55%);
$hero-btn-bg-2: hsla(275, 48%, 38%, 0.685);
$about-section-heading: hsl(0, 0%, 28%);
$about-section-text: hsl(0, 0%, 11%);

// font size
$navbar-brand-size: 2.5rem;
$navbar-link-size: 1.1rem;
$sidebar-width: 25rem;
$subheading-font-size: 1.8rem;